@model GradeSystem.Models.Professor
@inject IHttpContextAccessor httpContext

@{ViewData["Title"] = "Εισαγωγή Καθηγητή";}

<html>
<head>
    <link href="~/css/style.min.css" rel="stylesheet">
    <meta charset="UTF-8">


    <style>
        .user-bg .overlay-box {
            background: #6190b7;
            opacity: 0.85;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            text-align: center
        }

        #Selected {
            width: 250px;
        }

        #Selected option {
            width: 250px;
        }
    </style>
</head>
<body>


    <div class="page-wrapper">

        
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid " style="background-color: white">

            <h3>Εισαγωγή Καθηγητή</h3>

            <div class="container row p-0 m-0">

                <div class="col-12 border p-3" style="background-color: white">

                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="InsertProfessors">

                                <div class="form-group">
                                    <label asp-for="Afm" class="control-label">ΑΦΜ Καθηγητή</label>
                                    <input required type="text" id="afm" onpaste="return false;" ondrop="return false;" autocomplete="off" onkeypress="return onlyNumberKey(event)" minlength="9" maxlength="9" asp-for="Afm" class="form-control" />
                                    <span asp-validation-for="Afm" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Όνομα Καθηγητή</label>
                                    <input required asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Surname" class="control-label">Επώνυμο Καθηγητή</label>
                                    <input required asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label h6" for="form3Example4" asp-for="Department">Τμήμα</label>
                                    <br />
                                    <select id="departments" asp-for="Department">
                                        @foreach (var item in Enum.GetNames(typeof(Departments)))
                                        {
                                            if (item.Equals(@httpContext.HttpContext.Session.GetString("department")))
                                            {
                                                <option value="@item">@item</option>
                                            }
                                            else
                                            {
                                                <option value="@item" disabled>@item</option>
                                            }

                                        }
                                    </select>
                                    <span asp-validation-for="Department" class="text-danger"></span>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="submit" value="Καταχώρηση" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
                   

        </div>

    </div>

    <br/>
    <br/>
    <br />
    
</body>

<script>
    function onlyNumberKey(evt) {

        if (event.target.value.length == 0 && evt.which == 48) {
            return false;
        }

        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }


</script>
</html>
@section Scripts{
    <script src="~/js/DataTable.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
