@model IEnumerable<GradeSystem.Models.CourseHasStudent>

@{
    ViewData["Title"] = "Καταχώρηση Βαθμολογίας";
}


<html>
<head>
    <link href="~/css/style.min.css" rel="stylesheet">
    <meta charset="UTF-8">


    <style>
        .user-bg .overlay-box {
            background: #6190b7;
            opacity: 0.85;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            text-align: center
        }

        #Selected {
            width: 250px;
        }

        #Selected option {
            width: 250px;
        }

        input[type='number'] {
            width: 140px;
        }

        table, tr, th, td {
            text-align: center;
        }

       
    </style>
</head>
<body>


    <div class="page-wrapper border">

        
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid " style="background-color: #F7F7F7">

            <h3>Καταχώρηση Βαθμολογίας</h3>

            

            <div class="container row p-0 m-0">

                <div class="col-12 border p-3" style="background-color: white">
                    

                    <form action="InsertGrades" method="post">

                        <h3>Επίλεξε Μάθημα:</h3>

                        <select class="form-select" name="SelectedCourseId" id="SelectedCourseId" onchange="this.form.submit()">
                            <option value="" selected disabled hidden>Επίλεξε εδώ</option>
                            @foreach (var item in ViewBag.lessonsList)
                            {
                                @if (ViewBag.Selected == item.IdCourse)
                                {

                                    <option value="@item.IdCourse" selected> Κωδικός Μαθήματος: @item.IdCourse, Τίτλος Μαθήματος: @item.CourseTitle</option>

                                }
                                else
                                {
                                    <option value="@item.IdCourse"> Κωδικός Μαθήματος: @item.IdCourse, Τίτλος Μαθήματος: @item.CourseTitle</option>
                                }


                            }

                        </select>

                    </form>
                    <br />

                    @if (ViewBag.Selected != null)
                    {

                        <table class="table table-striped table-bordered" style="width:100%" id="DT_load">

                            <thead>
                                <tr>
                                    <th>
                                        Τμήμα
                                    </th>
                                    <th>
                                        Κωδικός Φοιτητή
                                    </th>
                                    <th>
                                        Όνομα Φοιτητή
                                    </th>
                                    <th>
                                        Επώνυμο Φοιτητή
                                    </th>
                                    <th>
                                        Βαθμός Φοιτητή
                                    </th>


                                </tr>

                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Student.Department)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Student.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Student.Surname)
                                    </td>
                                    <td>
                                        <form method="post" action="InsertGrades" onSubmit="if(!confirm('Είστε σίγουροι οτι θέλετε να υποβάλετε αυτο το βαθμό;')){return false;}">
                                            <input id="grade" required name="grade" form-control-lg type="number" min="0" max="10" placeholder="Εισάγετε Βαθμο" />

                                            <input hidden id="SelectedCourseId" name="SelectedCourseId" value="@item.IdCourse">
                                            <input hidden id="RegNum" name="RegNum" value="@item.RegistrationNumber">

                                            <button type="submit" value="submit">Υποβολή Βαθμού</button>

                                        </form>
                                    </td>


                                </tr>
                            }

                        </table>
                    }
                </div>
            </div>
                   

        </div>

    </div>

    <br/>
    <br/>
    <br />
    
</body>

</html>
@section Scripts{
    <script src="~/js/DataTable.js"></script>
}